body{
    font-family: 'Open Sans';
    margin-bottom: 70px;
}

h1{
    color: #23558F;
    text-align: start;
    font-weight: 800;
}
h2{
    color: #23558F;
    font-weight: 600;
}
h3{
    text-align: start;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 55px;
    margin-bottom: 55px;
}

.boton{
    background-color: #60A340;
    color: white;
    border-color: #60A340;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

.nav-link{
    color: #23558F;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}
.nav-bg{
height: 130px;
margin-bottom: 55px;
align-items: center;
background: #FFFFFF;
box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25), inset 0px -2px 8px rgba(0, 0, 0, 0.15);
}
.logo-nav{
    width: 250px;
    margin-left: 63px;
}

.ver-curso{
    text-decoration: none;
    color: #FFFFFF;
}

.img-fluid{
    max-width: 90%;
}
.descargar-curso{
    color: #60A340;
    text-decoration:underline;
    font-weight: 700;
}
.descargar-curso:hover{
    font-weight: 800;
    color: #000;
}
.certificacion{
    margin-top: 85px;
}

.links-cert{
    color: #23558F;
    font-weight: 600;
    font-size: 32px;
}
.btn-certificarme{
    width: 450px;
    margin: auto;
}