:root{
    --bg-login: #F2F2F2;
    --text-login: #40516f;
    --encabezados: #015694;
    --verde-soc: #4aa84f;
    --deg: linear-gradient(90deg, #00588A 0%, #01A9CE 51.56%, #009B4D 100%);
}

body{
    background-color: var(--bg-login);
    font-family: 'Open Sans';
}
/*-----------NAV-----------*/
.link-nav{
    /* margin-right: 30px; */
    font-size: 20px;
    color: var(--text-login);
    font-weight: 500;
}
.logo-img{
    width: 170px;
    margin-left: 55px;
}
.active{
    color: var(--verde-soc) !important;
}
.link-nav:hover{
    color: var(--verde-soc);
    font-weight: 600;
    text-decoration:underline;
}
.navbar{
    background-color: white !important;
    height: 70px;
    box-shadow: 0px 2px 30px rgb(0 0 0 / 5%);
}
.nav-link{
    color: #23558F;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 0px 16px;
}
.nav-bg{
    margin-bottom: 55px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25), inset 0px -2px 8px rgba(0, 0, 0, 0.15);
}
.logo-nav{
    width: 250px;
    margin-left: 63px;
}
.logo{
    width: 150px;
    margin: auto;
}
/*-----------Fin NAV-----------*/
img{
    width: 220px;
    height: auto;
    /*-margin-left: 45px;-*/
}
.img-login{
    width: fit-content;
}
.login-conten{
    margin-top: 35px;
}
.card{
    margin: auto;
    background-color: var(--bg-login);
    border-color: var(--bg-login);
}
.card-title{
    margin-bottom: 25px;
}
.login-text{
    margin: auto;
}
.card-text{
    font-size: 32px;
    font-weight: 500;
    color: var(--text-login);
}
h1{
    font-size: 60px;
    font-weight: 800;
    color: var(--encabezados);
}
p{
    font-size: 16px !important;
    color: var(--text-login);
}
.requsitos-texto{
    text-align: start;
}
.btn-bg{
    background: var(--verde-soc);
    color: white;
    width: 450px;
    border: none;
    font-size: 32px;
}
.btn-bg:hover{
    color: white;
    text-decoration:underline;
    background: var(--verde-soc);
}
/*-------Footer----*/
.footer-dg{
    align-self: start;
    text-align: center;
    margin-top: 50px;
}
footer{
    background-color: #F5FAFF;
}
.header-footer{
    font-weight: 800;
    font-size: 28px;
    margin: 25px 0px;
    line-height: 46px;
    text-align: start;
    letter-spacing: 0.2px;
    color: #015694;
}
.sub-titulos-footer{
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #40516F;
    text-align: start;
    text-decoration: underline;
    margin-bottom: 32px;
}
.titulo-footer{
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #40516F;
    text-align: start;
    margin-bottom: 3px;
}
.texto-footer{
    text-align: start;
    color: #40516F;
    margin-bottom: 3px;
}
.col-md-4{
    margin-bottom: 42px;
}
/*------Fin Footer----*/

.link-back{
    color: var(--text-login);
    font-weight: 500;
    font-size: 22px;
}
.btn-back{
    background-color: var(--text-login);
    color: white;
    border-color: var(--text-login);
    margin-top: 30px;
    text-decoration: none !important;
}
.btn-back:hover{
    background-color:white;
    color: var(--text-login);
    border-color: var(--text-login);
}
/*--------Style Cursos------*/
.bg-color{
    background-color: #FFFFFF;
}
.titulo{
    color: #23558F;
    font-weight: 600;
    font-size: 45px;
}
.sub-titulo{
    margin-bottom: 35px;
    font-size: 20px;
}
.rounded{
    margin-bottom: 22px;
}
h2{
    color: #23558F;
    font-weight: 600;
    font-size: 33px;
}
.descargar-curso{
    color: var(--verde-soc);
    text-decoration:underline;
    font-weight: 700;
    font-size: 22px;
    margin-top: 22px;
}
.descargar-curso:hover{
    font-weight: 800;
    font-size: 24px;
    color: var(--verde-soc);
}
.subTitulo{
    margin-bottom: 35px;
}
/*---------Certificaciones---------*/

.img-fluid{
    width: fit-content;
    margin-bottom: 45px;
}
.links-cert{
    color: var(--verde-soc);
    font-weight: 600;
    font-size: 32px;
}
.links-cert:hover{
    font-weight: 650;
    font-size: 33px;
    color: var(--verde-soc);
}
.certificacion{
    margin-top: 85px;
}
.bg-card{
    background-color: white;
    margin-bottom: 25px ;
}
a{
    text-decoration: none;
    color: var(--text-login);
}
h5{
    color: var(--text-login);
}
a:hover {
    text-decoration:underline;
    color: var(--verde-soc);
    border-color: var(--verde-soc);
  }
  .tipo-certificacion{
    text-decoration: none;
    color: var(--text-login);
    text-align: start;
    margin-left: 15px;
  }
  .accordion-content{
    text-align: start;
  }
  .accordion-button{
    color: var(--text-login);
  }
  .accordion-button:not(.collapsed){
    color: #009B4D;
    background-color: white;
  }

/*------Asesor-hipotecario----*/
.img-cert{
    width: 70%;
    margin-top: 8px;
    margin-bottom: 8px;
}
.accordion-item{
    width: 700px;
    margin: auto;
}

/*--------Perfil asesor--------*/
.img-certificacion{
    width: inherit;
}
.card-asesor{
    margin-bottom: 35px;
}
.boton{
    background-color: var(--verde-soc);
    color: white;
    border-color: var(--verde-soc);
    transition-duration: 0.4s;
    width: 400px;
}
.boton:hover {
    text-decoration: none;
    color: var(--verde-soc);
    border-color: var(--verde-soc);
  }
.ver-curso{
      text-decoration: none;
      color: white;
}
.ver-curso:hover{
      text-decoration: none;
      color: var(--verde-soc);
}
h3{
    text-align: start;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 55px;
    margin-bottom: 55px;
}

/*----MQ----*/

@media (max-width: 992px) {
    .col-sm-4{
        width: 50%;
    }
    .accordion-item{
        width: 700px;
        margin: auto;
    }
} 
@media (max-width: 768px) {
    .navbar{
        height: auto;
        width: 105%;
    }
    .col-sm-4{
        width: 100%;
    }
    .accordion-item{
        width: 80%;
        margin: auto;
    }
} 
@media (max-width: 576px){
    .container{max-width: fit-content !important;}   
    body{max-width: fit-content !important;}  
    .btn-bg{width: 300px; margin: 22px 0;}
    .logo-img{margin-left: 8px; width: 120px;}
    .nav-link{font-size: 16px; text-align: center;}  
    .footer-dg{margin-top: 22px;}
    .img-fluid{margin: 18px 0px;}
    .card-title{font-size: 55px; font-weight: 800;}
    .card-text{font-size: 28px;}
    .rounded{width: 350px;}
    .d-flex{margin: auto;}
    .img-certificacion{width: 360px; }
    .card-certificacion{margin-bottom: 55px !important;}
    .boton{width: 300px !important;}
    .titulo-footer{text-align: center;}
    .texto-footer{text-align: center;}
    .header-footer{text-align: center;}
    .sub-titulos-footer{text-align: center;}
    .navbar{
        height: auto;
        width: 576px;
    }
    .col-sm-4{
        width: 100%;
    }
    .accordion-item{
        width: 90%;
        margin: auto;
    }

}  
@media (max-width: 400px){
    .container{max-width: fit-content !important;}   
    body{
        max-width: fit-content !important;
    }      
    .link-nav{
        font-size: 16px;
        margin: 0px 6px;
    }   
    .texto-footer{
        text-align: center;
        margin-top: 16px;
    }
    .accordion-item{
        width: 80%;
        margin: auto;
    }
    .navbar{
        height: auto;
        width: 400px;
    }
}   
@media (max-width: 375px){
    .navbar{
        height: auto;
        width: 375px;
    }
}   